<main class="content">
  <div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-secondary gallery">Main Gallery</button>
    <button class="btn btn-secondary gallery">Community Gallery</button>
  </div>

  <div class="user-images">
    <div class="classof">
      Class of <%= year %>
    </div>
    <div class="card-grid d-flex justify-content-evenly flex-wrap">
      <% cards.forEach((card, index) => { %>
        <div class="card d-flex align-items-stretch">
            <img src="<%= card.image %>" class="card-img-top" alt="<%= card.firstName %> <%= card.lastName %>" onerror="this.onerror=null; this.src='/images/rules.png';"
            id="image<%= index %>" onclick="openModal('<%= card.image %>')">
            <div class="card-body">
                <p class="card-title text-white"><%= card.firstName %> <br> <%= card.lastName %></p>
                <p class="card-text"><%= card.text %></p>
            </div>
        </div>
    <% }); %>
    
    </div>
    <div class="add-member-button">
      <div class="btn btn-primary w-10 m-auto">
        Add member
      </div>
    </div>
  </div>
  
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <img id="modalImage" class="modal-img-top" alt="Modal Image">
      </div>
    </div>
  </div>

</main>
