<main class="content">
  <div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-secondary gallery">Main Gallery</button>
    <button class="btn btn-secondary gallery">Community Gallery</button>
  </div>

  <div class="user-images">
    <div class="classof">
      Class of <%= year %>
    </div>
    <div class="card-grid d-flex justify-content-evenly flex-wrap">
      <% cards.forEach(card => { %>
        <div class="card d-flex align-items-stretch">
          <img src="<%= card.image %>" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-title text-white"><%= card.firstName %> <%= card.lastName %></p>
            <p class="card-text"><%= card.text %></p>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</main>
